@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat:400,700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ************* global styles and stripping base styles ************* */
html {
  font-size: 62.5%;
}

p {
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header,
section h2,
.button {
  font-family: "Abril Fatface", cursive;
}

h1,
h2 {
  font-weight: 400;
}

p {
  font-size: 1.7rem;
}

.header-nav-items,
.header-title-container {
  display: flex;
}

.header-nav-items,
.header-title-container h1,
h2,
h3,
.button {
  text-transform: uppercase;
}

.header-nav-items,
.header-title-container h1,
h2 {
  letter-spacing: 1px;
}

.button {
  padding: 10px 10px 8px;
  background-color: #e4a436;
  letter-spacing: 0.5px;
  display: inline-block;
  font-size: 1.5rem;
}

.main-about h2,
.journey-section h2 {
  font-size: 2.5rem;
}

/* 
*************  header styles ***************
*/
header {
  background-color: #345231;
  color: white;
  padding-top: 50px;
}

.header-nav-items {
  display: none;
}

.header-title-container {
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.header-title-container h1 {
  font-size: 6.3rem;
}

/* 
*************  main section styles ***************
*/
body {
  font-family: "Montserrat", sans-serif;
}

.main-about {
  padding: 40px 0;
  text-align: center;
}
.main-about h2 {
  margin-bottom: 10px;
}
.main-about p {
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.blog-content-container {
  padding: 30px 10px;
  text-align: center;
}
.blog-content-container h2 {
  font-size: 2rem;
}
.blog-content-container p {
  margin: 20px 0;
}

.journey-section {
  text-align: center;
  background-color: #f6f6f6;
  padding: 10px 0 40px;
}
.journey-section h2 {
  margin: 20px 0;
}
.journey-section .button {
  margin-top: 20px;
}

/* 
hiding banner image on mobile - felt it doesn't really add much value in mobile view and because we have limited space in mobile view I will hide in mobile and bring back in tablet/desktop views.
*/
.banner-image {
  display: none;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
}
.image-gallery li:nth-child(-n+2) {
  width: 50%;
}
.image-gallery li:last-child {
  display: none;
}

.links-section {
  background-color: #f6f6f6;
  padding: 30px 0;
}
.links-section .wrapper {
  display: flex;
  flex-direction: column;
}
.links-section h3 {
  font-size: 2rem;
  letter-spacing: 1px;
}

.link-content {
  text-align: center;
  margin: 20px 0;
}

footer {
  text-align: center;
  background: #1f1f1f;
  color: white;
}
footer p {
  padding: 10px 0;
}

/*# sourceMappingURL=styles.css.map */
