
.blog-body {
  background-color: $design-white;

  aside {
    background-color: white;
  }
}

.blog-post-section,
.comments-container {
  background-color: white;
}

.blog-main {
  padding-bottom: 30px;
  margin-top: 60px;
}

.aside-container {
  @include width-center($max-width: 450px, $margin: 0 auto);
}

.about-container {
  text-align: center;
  width: 90%;
  margin: 0 auto 20px;
  padding: 20px 0;

  h2 {
    margin: 20px 0;
  }
}

.about-image-container span {
  color: $secondary-color;
}

.recent-posts-container {
  @include flexin($display: flex, $direction: column, $align: center);
  margin-bottom: 20px;
  padding: 20px;

  h2 {
    margin-bottom: 15px;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
}

.blog-post-section {
  text-align: center;
  border-bottom: 3px solid $secondary-color;
  padding: 20px;
  margin-bottom: 20px;

  p {
    margin: 20px 0;

    &:nth-child(2) {
      font-size: 1.4rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.comments-section {
  border-bottom: 3px solid #709b6b;
}

.comments-container {
  @include flexin($display: flex, $direction: column, $align: center);
  padding: 20px;

  img {
    width: 90px;
    height: 90px;
  }

  &:first-child {
    margin-bottom: 10px;
  }
}

.comments-content {
  text-align: center;

  p:first-child {
    font-size: 1.4rem;
    margin: 15px 0;
  }
}

.form-container {
  @include flexin($display: flex, $direction: column);
  @include width-center($margin: 0 auto);
  padding: 20px 0;

  .button {
    width: 100%;
    margin: 0 auto 20px;
    border: none;
  }
}

.input-container {
  @include flexin($display: flex, $direction: column);
  @include width-center($margin: 0 auto);
  width: 100%;
}

input, textarea {
  width: 100%;
  border: none;
  font-size: 1.5rem;
  transition: border .3s ease;

  &::placeholder {
    font-family: $secondary-font;
    font-size: 1.2rem;
  }

  &:focus {
    border: 1px solid $accent;
  }
}

input {
  height: 45px;
  margin: 5px 0;
  padding-left: 10px;
}

textarea {
  margin: 5px auto 10px;
  padding: 15px 0 0 10px;
  resize: none;
}