

.contact-section {
  background-color: $design-white;
  padding: 60px 0 40px;

  .form-container {
    @include width-center($max-width: 560px);
  }
}

.address-social {
  background-color: white;
  padding: 20px;
  @include width-center($max-width: 288px, $margin: 0 auto 20px);

  p {
    font-size: 1.4rem;

    &:nth-child(2) {
      font-weight: 700;
      margin-bottom: 5px;
    }
  }

  ul {
    @include flexin($display: flex, $direction: row, $justify: space-between);
    width: 65%;
    margin-bottom: 10px;
    font-size: 1.9rem;
  }

  a {
    display: block;
    padding: 3px;
    color: $primary-color;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      color: $accent;
    }
  }
}
