

.contact-section {
  background-color: $design-white;
  padding: 20px 0 40px;

  .form-container {
    max-width: 560px;
  }
}

.address-social {
  background-color: white;
  padding: 20px;
  margin: 0 auto 20px;
  max-width: 288px;


  p {
    font-size: 1.4rem;

    &:nth-child(2) {
      font-weight: 700;
      margin-bottom: 5px;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin-bottom: 10px;
    font-size: 1.9rem;
    color: $primary-color;
  }
}
