

header,
section h2,
aside h2,
h3,
.button {
  font-family: $primary-font;
}

h1, 
h2,
h3 {
  font-weight: 400;
}

section h2,
aside h2 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

.header-nav-items,
.header-title-container h1,
h2,
h3,
.button,
.blog-header h1 {
  text-transform: uppercase;
}

.header-title-container h1,
h2 {
  letter-spacing: 1px;
}

// button style
.button {
  padding: 10px 10px 8px;
  background-color: $accent;
  letter-spacing: 0.5px;
  display: inline-block;
  font-size: 1.5rem;
  width: 115px;
  text-align: center;
  transition: opacity 0.3s ease;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.main-about h2,
.journey-section h2 {
  font-size: 2.5rem;
}