/* 
*************  header styles ***************
*/

header {
  background-color: $primary-color;
  color: white;
  padding-top: 100px;
}

.blog-header {
  background-image: url('../willow-assets/blog-image-1.jpg');
  height: 50vh;
  @extend %header-background;

  h1 {
    font-size: 3.8rem;
    text-align: center;
  }
}

.contact-header {
  height: 50vh;
  background-image: url('../willow-assets/contact-image-1.jpg');
  @extend %header-background;

  h1 {
    font-size: 4.2rem;
    text-align: center;
    text-transform: uppercase;
  }
}

.header-nav-items {
  background-color: $primary-color;
}

.main-title-container {
  text-align: center;
  height: 100px;
}

.title-image-container {
  transform: translate(-118px, -116%) rotate(37deg);
  display: inline-block;
  width: 68px;
}

.header-title-container {
  width: 90%;
  @include width-center($max-width: 720px, $margin: 0 auto);
  padding-bottom: 20px;

  h1 {
    font-size: 6.3rem;
  }
}

.header-image-container {
  padding-bottom: 20px;
  @include width-center($max-width: 450px, $margin: 0 auto);
}

/* ************* header hamburger menu styles ************* */
.header-nav-items {
  text-align: center;
  padding-top: 100px;
  margin: 0 auto;
  height: 100vh;
  background: rgba(0, 0, 0, .9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: transform .5s;
  transform: translateX(100%);
  overflow-x: hidden;

  li {
    font-size: 2rem;
    margin: 10px auto;
    width: 150px;
    letter-spacing: 3px;

    &:not(:nth-child(3)):hover,
    &:not(:nth-child(3)):focus {
      background-color: $primary-color;
      color: $accent;
      cursor: pointer;
    }

    &:nth-child(3)  {
      display: none;
    }

    a {
      padding: 10px 15px;
      display: block;
    }
  }
}

.header-nav {
  background-color: $primary-color;

  input {
    display: none;

    &:checked ~ .header-nav-items {
      transform: translateX(0);
    }
  }

  span {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    display: block;
    background: white;
    transition: transform .3s ease;
    position: relative;
  }
}

.hamburger {
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 100;
  padding: 8px 10px;
  cursor: pointer;
}

/* ************* styles to transform the hamburger menu on click ************* */
/* top line */
.header-nav input:checked ~ .hamburger span:first-child {
  top: 7px;
  transform: rotate(-45deg);
}

/* middle line */
.header-nav input:checked ~ .hamburger span:nth-last-child(2) {
  opacity: 0;
  transform: scale(0.2);
}

/* third line */
.header-nav input:checked ~ .hamburger span:last-child {
  bottom: 8px;
  transform: rotate(45deg);
}