/* 
*************  header styles ***************
*/


header {
  background-color: $primary-color;
  color: white;
  padding-top: 100px;
}

.blog-header {
  background-image: url('../willow-assets/blog-image-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;

  h1 {
    font-size: 3.8rem;
    text-align: center;
  }
}

.header-nav-items {
  display: none;
  background-color: $primary-color;
}

.main-title-container {
  text-align: center;
}

.title-image-container {
  transform: translate(-118px, -116%) rotate(37deg);
  display: inline-block;
  width: 68px;
}

.header-title-container {
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;

  h1 {
    font-size: 6.3rem;
  }
}

.header-image-container {
  transform: translate(0, -31px);
  background-color: white;


  img {

    object-position: 20px 20px;
    margin: -20px -20px;
    padding: 0 20px 20px 0;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    transform: translate(20px, -20px);
  }

}



// .header-title-container {
//   h1 {
//   position: relative;

//     &::before {
//       display: none;
//       background-image: url('../willow-assets/circle-text.png');
//       background-repeat: no-repeat;
//       display: block;
//       height: 180px;
//       width: 180px;
//       content: "";
//       position: absolute;
//       top: 10%;
//       left: 10%;
//     }
//   }
// }