

@media (min-width: 600px) {
  .comments-container {
    flex-direction: row;
    align-items: unset;
    justify-content: space-between;
  }

  .comments-image {
    width: 20%;
  }

  .comments-content {
    text-align: unset;
    width: 80%;

    p:first-child {
      margin-bottom: 0;
      font-size: 1.6rem;
    }
  }

  .input-container {
    flex-direction: row;
    justify-content: space-between;

    &:nth-child(2) {
      margin-right: 10px;
    }

  }
  input {
    width: calc(50% - 5px);
  }

}



@media (min-width: 768px) {
  header {
    padding-top: 0;
  }

  .header-nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    a {
      padding: 10px 20px;
      display: block;
      cursor: pointer;
      font-family: $secondary-font;
      font-size: 1.6rem;
    }

    p {
      margin: 0 10px;
      font-family: $primary-font;
      font-size: 3.2rem;
    }
  }

  .header-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    h1 {
      font-size: 8.5rem;
      width: 60%;
    }
  }

  .title-image-container {
    transform: translate(-164px, -105%) rotate(14deg);
    width: 90px;
  }

  .aside-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: unset;
    margin-bottom: 20px;
  }

  .section-container {
    max-width: 800px;
  }

  .blog-about {
    width: 53%;
  }

  .about-container,
  .blog-post-section {
    text-align: unset;
  }

  .recent-posts-container {
    width: 41%;
    height: 150px;
    align-items: unset;
  }

  .image-gallery {
    margin: 40px auto;
    max-width: 920px;

    li {
      margin: 15px;

      &:nth-child(-n+3) {
        width: calc((100% / 3) - 30px);
      }

      &:last-child {
        display: block;
      }
    }
  }

  .link-content-container {
    flex-direction: row;
    align-items: flex-start;
    width: 50%;
  }

  .link-content {
    margin: 9px 0 30px 20px;
    text-align: unset;
  }

  .blog-header h1 {
    transform: translate(-32%, 480%);
  }

  .contact-header h1 {
    transform: translate(-27%, 429%); 
  }
}


@media (min-width: 800px) {
  .blog-main .wrapper {
    max-width: 750px;
  }

  .blog-container,
  .blog-content-container {
    display: flex;
  }

  .blog-content-container {
    text-align: unset;
    flex-direction: column;
    width: 50%;
  }

  .testing-div {
    background-color: $secondary-color;
  }

  .blog-container {
    margin: 50px auto;
    justify-content: center;
    max-width: 860px;

    &:first-child .blog-image-container {
      box-shadow: 20px 20px $secondary-color, -300px 20px $secondary-color;
      transform: translate(1px, -21px);
    }

    &:first-child .blog-content-container {
      justify-content: flex-end;
      padding: 0 0 0 55px;
      background-color: white;


      p {
        max-width: 430px;
      }
    }

    &:nth-child(2) .blog-content-container {
      justify-content: flex-start;
      align-items: flex-end;
      padding: 0 80px 0 0;

      p {
        text-align: right;
      }
    }
  }

  .blog-image-container {

    img {
      max-width: 428px;
    }
  }

  .blog-container:nth-child(2) .blog-image-container {
    order: 1;
    box-shadow: 20px 20px $primary-color, 300px 20px $primary-color;
  }

  .journey-section {
    text-align: unset;
    padding: 40px 0 50px;

    .wrapper {
      flex-direction: row;
      justify-content: space-between;
      max-width: 950px;
    }
  }

  .journey-image-container {
    width: 23%;
    max-width: 240px;
    margin-right: 20px;
    box-shadow: 20px 20px $secondary-color;
  }

  .journey-content-container {
    width: calc(70% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;

    h2 {
      margin: 0;
    }

    p {
      max-width: 650px;
    }

    .button {
      margin: 0;
      width: 160px;
    }
  }

  .banner-image {
    display: block;
  }

  .address-social {
    margin: 0;
    height: 181px;
  }

  .contact-section {
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      max-width: 850px;
    }

    form {
      width: 60%;
    }

    .form-container {
      padding: 0;
    }

    input {
      margin-top: 0;
    }
  }

  .contact-header .wrapper {
    max-width: 1000px;
  }
}


@media (min-width: 1000px) {
  .blog-main .wrapper {
    max-width: 1100px;
  }

  .aside-container {
    flex-direction: column;
    justify-content: unset;
    max-width: unset;
    width: 29%;
    margin: 0;
  }

  .blog-about {
    width: unset;
  }

  .recent-posts-container {
    margin-top: 20px;
    width: unset;
  }

  .blog-main .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .section-container {
    width: 60%;
  }
}