

@media (min-width: 600px) {
  .header-image-container {
    
    img {
      box-shadow: 20px 20px white;
    }
  }

  .comments-container {
    @include flexin($direction: row, $justify: space-between, $align: unset);
  }

  .comments-image {
    width: 20%;
  }

  .comments-content {
    text-align: unset;
    width: 80%;

    p:first-child {
      margin-bottom: 0;
      font-size: 1.6rem;
    }
  }

  .input-container {
    @include flexin($direction: row, $justify: space-between);

    &:nth-child(2) {
      margin-right: 10px;
    }

  }
  input {
    width: calc(50% - 5px);
  }
}


@media (min-width: 768px) {
  header {
    padding-top: 0;
  }

  .header-image-container {
    max-width: 300px;
    transform: translateY(14%);
  }

  .header-nav-items {
    @include flexin($display: flex, $justify: center, $align: center);
    @include width-center($max-width: 790px, $margin: 0 auto);
    text-align: unset;
    padding-top: unset;
    height: unset;
    background: unset;
    position: initial;
    transform: translateX(0);
    
    li {
      width: unset;

      &:nth-child(3)  {
        display: initial;
      }

      &:not(:nth-child(3)):hover,
      &:not(:nth-child(3)):focus{
        background-color: initial;
      }
    }

    a {
      padding: 10px 20px;
      display: block;
      cursor: pointer;
      font-family: $secondary-font;
      font-size: 1.6rem;
    }

    p {
      margin: 0 10px;
      font-family: $primary-font;
      font-size: 3.2rem;
    }
  }

  .hamburger {
    display: none;
  }

  .header-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    h1 {
      font-size: 8.5rem;
      width: 60%;
    }
  }

  .title-image-container {
    transform: translate(-164px, -105%) rotate(14deg);
    width: 90px;
  }

  .aside-container {
    @include flexin($display: flex, $direction: row, $justify: space-between);
    max-width: unset;
    margin-bottom: 20px;
  }

  .section-container {
    max-width: 800px;
  }

  .blog-about {
    width: 53%;
  }

  .about-container,
  .blog-post-section {
    text-align: unset;
  }

  .recent-posts-container {
    width: 41%;
    height: 150px;
    align-items: unset;
  }

  .image-gallery {
    @include width-center($max-width: 920px, $margin: 40px auto);

    li {
      margin: 15px;

      &:nth-child(-n+3) {
        width: calc((100% / 3) - 30px);
      }

      &:last-child {
        display: block;
      }
    }
  }

  .link-content-container {
    @include flexin($direction: row, $align: flex-start);
    width: 50%;
  }

  .link-content {
    margin: 9px 0 30px 20px;
    text-align: unset;
  }

  .blog-header h1 {
    transform: translate(-32%, 433%);
  }

  .contact-header h1 {
    transform: translate(-27%, 384%); 
  }
}


@media (min-width: 800px) {
  .blog-main .wrapper {
    max-width: 750px;
  }

  .blog-container,
  .blog-content-container {
    @include flexin($display: flex)
  }

  .blog-content-container {
    text-align: unset;
    @include flexin($direction: column);
    width: 50%;
  }

  .testing-div {
    background-color: $secondary-color;
  }

  .blog-container {
    @include flexin($justify: center);
    @include width-center($max-width: 860px, $margin: 50px auto);

    &:first-child .blog-image-container {
      transform: translate(1px, -21px);

      img {
        box-shadow: 20px 20px $secondary-color, -300px 20px $secondary-color;
      }
    }

    &:first-child .blog-content-container {
      @include flexin($justify: flex-end);
      padding: 0 0 0 55px;
      background-color: white;

      p {
        max-width: 430px;
      }
    }

    &:nth-child(2) .blog-content-container {
      @include flexin($justify: flex-start, $align: flex-end);
      padding: 0 80px 0 0;

      p {
        text-align: right;
      }
    }
  }

  .blog-image-container {

    img {
      max-width: 428px;
    }
  }

  .blog-container:nth-child(2) .blog-image-container {
    order: 1;

    img {
      box-shadow: 20px 20px $primary-color, 300px 20px $primary-color;
    }
  }

  .journey-section {
    text-align: unset;
    padding: 40px 0 50px;

    .wrapper {
      @include flexin($direction: row, $justify: space-between);
      max-width: 950px;
    }
  }

  .journey-image-container {
    width: 23%;
    max-width: 240px;
    margin-right: 20px;
    box-shadow: 20px 20px $secondary-color;
  }

  .journey-content-container {
    width: calc(70% - 20px);
    @include flexin($display: flex, $direction: column, $justify: space-between);
    height: 240px;

    h2 {
      margin: 0;
    }

    p {
      max-width: 650px;
    }

    .button {
      margin: 0;
      width: 160px;
    }
  }

  .banner-image {
    display: block;
    @include width-center($max-width: 1600px, $margin: 0 auto);
  }

  .address-social {
    margin: 0;
    height: 181px;
  }

  .contact-section {
    .wrapper {
      @include flexin($display: flex, $direction: row, $justify: space-evenly);
      max-width: 850px;
    }

    form {
      width: 60%;
    }

    .form-container {
      padding: 0;
    }

    input {
      margin-top: 0;
    }
  }

  .contact-header .wrapper {
    max-width: 1000px;
  }
}


@media (min-width: 1000px) {
  .blog-main .wrapper {
    max-width: 1100px;
  }

  .aside-container {
    @include flexin($direction: column, $justify: unset);
    max-width: unset;
    width: 29%;
    margin: 0;
  }

  .blog-about {
    width: unset;
  }

  .recent-posts-container {
    margin-top: 20px;
    width: unset;
  }

  .blog-main .wrapper {
    @include flexin($display: flex, $direction: row, $justify: space-evenly);
  }

  .section-container {
    width: 60%;
  }
}